// Primary color
$primary: #00aaff;

// Lighter variants
$primary_100: #b3e5ff;
$primary_200: #81d5ff;
$primary_300: #4dc4ff;
$primary_400: #24b7ff;

// Darker variants
$primary_600: #079cef;
$primary_700: #0c89db;
$primary_800: #0b77c7;
$primary_900: #0d57a4;

// Other colors
$secondary: #000000;
$background: #ffffff;
