@import "colors";

body {
  background-color: $background;
  padding: 40px;
}

.root {
  display: flex;
  flex-flow: column nowrap;
  color: $secondary;
}

h1 {
  margin: 0;
}

a {
  color: $secondary;
}
