@import "colors";

body {
  background-color: $background;
  padding: 40px;
}

h1 {
  margin: 0;
}

a {
  color: $secondary;

  &:hover {
    border-bottom: 2px solid $secondary;
  }
}

.root {
  display: flex;
  flex-flow: column nowrap;
  color: $secondary;
}

// Helper classes
.invisible {
  display: none;
}

// Print
.print-inline {
  display: none;
}

@media print {
  html,
  body {
    height: 99%;
  }

  .print-inline {
    display: inline;
  }
}
