@import "colors";

::selection {
  color: #00ff00;
  background-color: black;
}

body {
  padding: 40px 400px;
}

h1 {
  margin: 0;
}

a {
  color: $secondary;

  &:hover {
    border-bottom: 2px solid $primary_800;
  }
}

.dark {
  background-color: $secondary;
  color: $background;

  ::selection {
    color: black;
    background-color: #00ff00;
  }
}

.root {
  display: flex;
  flex-flow: column nowrap;
  color: $secondary;
}

// Helper classes
.invisible {
  display: none;
}

// Print
.print-inline {
  display: none;
}

@media only screen and (max-width: 1400px) {
  body {
    padding: 40px;
  }
}

@media print {
  html,
  body {
    height: 99%;
    padding: 40px;
  }

  .print-inline {
    display: inline;
  }
}
