@import "../../../styles/colors";

.section-item {
  margin: 15px 0;

  p {
    margin: 2px 0;
  }

  &__title {
    color: $primary_700;
    font-weight: bold;
    font-size: 18px;
  }

  &__dates {
    opacity: 0.6;
  }

  &__address {
    opacity: 0.6;
  }
}

.section-item:last-child {
  margin-bottom: 0;
}
