.header {
  display: flex;
  flex-flow: column nowrap;
  width: inherit;
  padding-bottom: 10px;

  &__title {
    padding-bottom: 20px;
  }

  &__contact {
    display: flex;
    flex-flow: column nowrap;
  }
}

.header-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  p {
    width: 40px;
    text-align: center;
    font-size: 22px;
    margin: 0;
  }

  div {
    text-align: start;
  }

  a {
    text-decoration: none;
  }
}
