@import "../../styles/colors";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: inherit;
  padding-bottom: 10px;

  &__title {
    padding-bottom: 20px;
  }

  &__contact {
    display: flex;
    flex-flow: column nowrap;
  }
}

@media print {
  .header-notes {
    display: none;
  }
}
