@import "../../styles/colors";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: inherit;
  padding-bottom: 10px;

  &__title {
    padding-bottom: 20px;
  }

  &__contact {
    display: flex;
    flex-flow: column nowrap;
  }
}

.header-notes {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .icon {
    font-size: 22px;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }
  }

  .icon:first-of-type {
    margin-left: 0;
  }
}

.buttons-area {
  display: flex;
  flex-flow: row nowrap;
}

@media only screen and (max-width: 768px) {
  .header {
    flex-flow: column nowrap;

    .pdf-button {
      // html2canvas doesn't work well on phones :(
      display: none;
    }
  }
}
